@font-face {
  font-family: font-light;
  src: url(./SourceSansPro-Light.ttf);
}

@font-face {
  font-family: font-regular;
  src: url(./SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: font-semi-bold;
  src: url(./SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: font-bold;
  src: url(./SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: font-black;
  src: url(./SourceSansPro-Black.ttf);
}